.card {
  width: 300px;
  margin-left: 50px;
}
.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* card */
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* style how yo buy */

.body-tutor {
  background-color: #dedede;
  color: #000;
}
.container-tutor {
  text-align: center;
  margin-top: 20px;
}
ol {
  text-align: left;
  display: inline-block;
  font-size: 20px;
}
.tutor {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.tutor h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.tutor p {
  font-size: 20px;
  color: #000;
}

/* detail-product  */
.bodrexin-detail {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.contact {
  margin-top: 20px;
  text-align: center;
}
.contact a {
  display: inline-block;

  margin: 5px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.contact a:hover {
  background-color: #0056b3;
}
